[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html,
body {
  margin:0px;
  padding:0px;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
  font-size: 16px;
  background: white;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  font-size: 18px;
  background:#940F35;
  padding:10px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin:0px;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 0px 10px  #000;
}
.latest-ads{
    
}

.multiple-ads-container{
    padding:4px;
    margin:4px;
}

.multiple-ads-container img{
    height:150px;
    width:150px;
    padding:4px;
    margin:4px;
}

.logo{
	text-align:center;
}

.logoMain{
     text-align:center;
     height: 40px;
     margin-top:-10px;
     margin-bottom: -10px;
     padding:0px;
}

.vertically-align-outer {
    display:table;
}

.vertically-align-inner {
    display:table-cell;
}

.search-bar {
    background-color: rgb(81, 105, 130);
    border-radius: 0px;
    padding-top:10px;
    padding-bottom: 10px;
    width:100%;
}

.post-ad-btn:hover{
    background-color: #69B91C;
    color: white;
}

.post-ad-btn {
    margin-left: 15px;
    background-color: rgb(81, 105, 130);
    color: white;
}
.header-buttons.pull-right{
    line-height: 50px;
    display:table;
    color: #EAE7E8;
}

.header-buttons span{
    font-size: 16px;
    color: #EAE7E8;
    padding: 5px;
}

.header-buttons a{
    font-size: 16px;
    font-weight: normal;
    color: #EAE7E8;
    margin-top:0px;
    margin-bottom: 0px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    padding: 5px;
}

.header-buttons a:hover,
.header-buttons a:focus{
    color: white;
    text-decoration: none;
}